fastapi
uvicorn
websockets
python-multipart
pyyaml
pydantic
pyserial
numpy
Pillow
python-dotenv
requests
tqdm
gdown
gitpython
roboflow
scikit-learn
opencv-python-headless
torch
torchvision
ultralytics
boxmot
pytest
